#pagination-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  height: 10vh;
}

.pagination-list {
  /* width: 25%; */
  width: 100%;
  height: 100%;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-list-item {
  margin: 0 10px;
}

.pagination-list-item > a {
  text-decoration: none;
}

.page-btn {
  background-color: var(--secondary-color);
  text-align: center;
  font-size: 1em;
  padding: 18px 23px;
  cursor: pointer;
  border-radius: 10px;
}

.page-btn:hover {
  color: var(--main-color);
}

.current-page {
  background-color: var(--main-color);
  color: #fff;
}

.current-page:hover {
  color: #fff;
}

@media (max-width: 1024px) {
  #pagination-nav {
    margin-top: 40px;
  }

  .page-btn {
    font-size: 0.9em;
    padding: 15px 20px;
  }
}

@media (max-width: 425px) {
  #pagination-nav {
    margin-top: 30px;
  }

  .pagination-list-item {
    margin: 0 5px;
  }
}

@media (max-width: 375px) {
  #pagination-nav {
    margin-top: 20px;
  }

  /* .pagination-list-item {
    margin: 0 8px;
  } */

  .page-btn {
    font-size: 0.8em;
    padding: 13px 18px;
  }
}

@media (max-width: 320px) {
  #pagination-nav {
    margin-top: 10px;
  }

  .page-btn {
    font-size: 0.7em;
    padding: 10px 15px;
  }
}

@media (max-width: 280px) {
  #pagination-nav {
    margin-top: 5px;
  }

  .page-btn {
    font-size: 0.6em;
    padding: 8px 13px;
  }
}
