a {
  text-decoration: none;
  color: initial;
}

.recipe-card-container {
  margin-bottom: 10px;
}

.recipe-card-img-container {
  position: relative;
  cursor: pointer;
}

.recipe-card-img {
  width: 100%;
  border-radius: 20px;
}

.recipe-card-img:hover {
  filter: brightness(80%);
}

.recipe-card-img-fav-container {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: #fff;
}

.recipe-card-img-fav-container:hover {
  color: red;
}

.recipe-card-info-container {
  margin-top: 10px;
}

.recipe-card-title {
  font-size: 1.1em;
  font-weight: 600;
}

.recipe-card-info-bottom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  width: 100%;
}

.recipe-card-rating-icon-container {
  display: flex;
}

.recipe-card-rating-icon {
  margin-right: 1px;
  margin: auto;
}

.fa-star {
  color: #ffca28;
}

.recipe-card-cooking-time-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #787878;
}

.recipe-card-time-text {
  margin-left: 5px;
  text-align: center;
}

/* Media queries */
@media (max-width: 1024px) {
  .recipe-card-title {
    font-size: 1em;
  }
}

@media (max-width: 768px) {
  .fa-heart {
    font-size: 1.4em;
  }

  .fa-star {
    font-size: 0.9em;
  }

  .fa-clock {
    font-size: 0.9em;
  }

  .recipe-card-time-text {
    font-size: 0.93em;
    text-align: center;
  }
}

@media (max-width: 425px) {
  .recipe-card-title {
    font-size: 0.85em;
  }

  .fa-heart {
    font-size: 1.3em;
  }

  .fa-star {
    font-size: 0.8em;
  }

  .fa-clock {
    font-size: 0.9em;
  }

  .recipe-card-time-text {
    font-size: 0.9em;
    text-align: center;
  }
}

@media (max-width: 375px) {
  .recipe-card-title {
    font-size: 0.75em;
  }

  .recipe-card-img-fav-container {
    top: 0.8rem;
    right: 0.8rem;
  }

  .fa-heart {
    font-size: 1.2em;
  }

  .fa-star {
    font-size: 0.7em;
  }

  .fa-clock {
    font-size: 0.7em;
  }

  .recipe-card-time-text {
    font-size: 0.7em;
    text-align: center;
  }
}

@media (max-width: 320px) {
  .recipe-card-title {
    font-size: 0.7em;
  }

  .recipe-card-img-fav-container {
    top: 0.6rem;
    right: 0.7rem;
  }

  .fa-heart {
    font-size: 1em;
  }

  .fa-star {
    font-size: 0.6em;
  }

  .fa-clock {
    font-size: 0.7em;
  }

  .recipe-card-time-text {
    font-size: 0.75em;
  }
}
