.footer-basic {
  width: 100%;
  align-items: center;
  margin-top: 5rem;
}

.copyright {
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  background-color: #68983b;
  color: #fff;
}

@media (max-width: 425px) {
  .footer-basic {
    margin-top: 3rem;
  }

  .copyright {
    font-size: 0.9em;
  }
}

@media (max-width: 375px) {
  .footer-basic {
    margin-top: 2rem;
  }

  .copyright {
    padding: 0.9rem 0;
    font-size: 0.8em;
  }
}

@media (max-width: 320px) {
  .footer-basic {
    margin-top: 2rem;
  }

  .copyright {
    padding: 0.8rem 0;
    font-size: 0.7em;
  }
}
