.hamburger-menu-enter {
  transform: translateX(100%);
}
.hamburger-menu-enter-active {
  transform: translateX(0%);
  transition: all 700ms ease;
}

.hamburger-menu-exit-active {
  transform: translateX(100%);
  transition: all 700ms ease;
}

.recipes-header-top-container {
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.recipes-header-logo-svg {
  filter: invert(0%) sepia(8%) saturate(7483%) hue-rotate(325deg)
    brightness(91%) contrast(100%);
}

.recipes-header-nav-list {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.recipes-header-nav-list a {
  text-decoration: none;
  color: var(--dark-color);
  position: relative;
}

/* a.effect-underline::after {
  content: '';
  position: absolute;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 5px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}

a.effect-underline:hover::after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
} */

.recipes-header-list-item {
  width: 100px;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipes-header-icons {
  width: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recipes-header-search-icon {
  cursor: pointer;
}

.recipes-header-bookmark-icon {
  cursor: pointer;
}

.recipes-header-bars-icon {
  display: none;
  cursor: pointer;
}

.recipes-header-bottom-overlay {
  height: 40vh;
  background: url('../../assets/images/recipes-header-bg.jpg') no-repeat center
    12% / cover;
  position: relative;
}

.recipes-header-bottom-overlay::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.recipes-header-bottom-container {
  position: relative;
  z-index: 2;
  height: 40vh;
}

.recipes-header-subheader {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipes-header-subheader-text {
  font-size: 3em;
  font-weight: 900;
  color: rgb(255, 255, 255);
}

/* Media queries */
@media (max-width: 1024px) {
  .recipes-header-bottom-overlay {
    height: 30vh;
    background-position: center 8%;
  }

  .recipes-header-bottom-container {
    height: 30vh;
  }

  .recipes-header-subheader-text {
    font-size: 2.5em;
  }
}

@media (max-width: 768px) {
  .recipes-header-top-container {
    justify-content: space-between;
    margin: 0 30px;
  }

  .recipes-header-nav-bar {
    display: none;
  }

  .recipes-header-logo-svg {
    width: 130px;
  }

  .recipes-header-icons {
    width: 140px;
  }

  .recipes-header-bars-icon {
    display: block;
    margin-left: 25px;
  }

  .recipes-header-bottom-overlay {
    height: 25vh;
    background-position: center top;
  }

  .recipes-header-bottom-container {
    height: 25vh;
  }

  .recipes-header-subheader-text {
    font-size: 2em;
  }
}

@media (max-width: 425px) {
  .recipes-header-top-container {
    height: 85px;
  }

  .recipes-header-top-container {
    margin: 0 15px;
  }

  .recipes-header-logo-svg {
    width: 115px;
  }

  .recipes-header-icons {
    width: 110px;
  }

  .recipes-header-bars-icon {
    margin-left: 15px;
  }

  .recipes-header-bottom-overlay {
    height: 20vh;
    background-position: center top;
  }

  .recipes-header-bottom-container {
    height: 20vh;
  }

  .recipes-header-subheader-text {
    font-size: 1.6em;
  }
}

@media (max-width: 375px) {
  .recipes-header-top-container {
    height: 80px;
  }

  .recipes-header-logo-svg {
    width: 110px;
  }

  .recipes-header-icons {
    width: 100px;
  }

  .recipes-header-bars-icon {
    margin-left: 10px;
  }

  .fa-search {
    font-size: 1.2em;
  }

  .fa-bookmark {
    font-size: 1.2em;
  }

  .fa-bars {
    font-size: 1.8em;
  }

  .recipes-header-bottom-overlay {
    height: 15vh;
    background-position: center top;
  }

  .recipes-header-bottom-container {
    height: 15vh;
  }

  .recipes-header-subheader-text {
    font-size: 1.3em;
  }
}

@media (max-width: 320px) {
  .recipes-header-top-container {
    height: 70px;
  }

  .recipes-header-logo-svg {
    width: 95px;
  }

  .recipes-header-icons {
    width: 77px;
  }

  .fa-search {
    font-size: 1em;
  }

  .fa-bookmark {
    font-size: 1em;
  }

  .fa-bars {
    font-size: 1.5em;
  }

  .recipes-header-bottom-overlay {
    height: 15vh;
    background-position: center top;
  }

  .recipes-header-bottom-container {
    height: 15vh;
  }

  .recipes-header-subheader-text {
    font-size: 1.1em;
  }
}
