#newsletter-section {
  margin: 50px 0;
  height: 70vh;
  background: url(../assets/images/newsletter.jpg) center center/cover;
}

.newsletter-section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  max-width: 600px;
  height: 100%;
  margin: 0 150px;
}

.newsletter-title {
  font-size: 2.4em;
  align-self: flex-start;
}

.newsletter-tag {
  width: 400px;
  align-self: flex-start;
  margin-top: 20px;
  font-size: 1.3em;
}

.subscribe-btn {
  align-self: flex-start;
  margin-top: 30px;
  padding: 10px 30px;
  border-radius: 30px;
  background-color: #518f2d;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  transition: 0.5s;
}

.subscribe-btn:hover {
  cursor: pointer;
  background-color: #fff;
  color: #518f2d;
}

/* Media queries */
@media (max-width: 1180px) {
  #newsletter-section {
    height: 60vh;
  }

  .newsletter-section-container {
    margin: 0 100px;
  }

  .newsletter-title {
    font-size: 2em;
  }

  .newsletter-tag {
    font-size: 1em;
  }
}

@media (max-width: 885px) {
  #newsletter-section {
    height: 50vh;
  }

  .newsletter-section-container {
    margin: 0 70px;
    max-width: 400px;
  }

  .subscribe-btn {
    padding: 9px 26px;
  }
}

@media (max-width: 765px) {
  #newsletter-section {
    height: 40vh;
  }

  .newsletter-section-container {
    margin: 0 40px;
    max-width: 380px;
  }

  .newsletter-title {
    font-size: 1.8em;
  }

  .newsletter-tag {
    width: 350px;
    font-size: 0.9em;
  }

  .subscribe-btn {
    font-size: 0.8em;
  }
}

@media (max-width: 650px) {
  #newsletter-section {
    background: url(../assets/images/newsletter-mobile.jpg) center center/cover;
    height: 40vh;
  }

  .newsletter-section-container {
    margin: 0 40px;
    max-width: 300px;
  }

  .newsletter-title {
    font-size: 1.4em;
  }

  .newsletter-tag {
    width: 200px;
    font-size: 0.7em;
  }

  .subscribe-btn {
    padding: 5px 17px;
    font-size: 0.5em;
  }
}

@media (max-width: 410px) {
  #newsletter-section {
    height: 30vh;
  }

  .newsletter-section-container {
    margin: 0 30px;
    max-width: 220px;
  }

  .newsletter-title {
    font-size: 1.1em;
  }

  .newsletter-tag {
    width: 180px;
    font-size: 0.55em;
  }

  .subscribe-btn {
    padding: 6px 20px;
    font-size: 0.5em;
  }
}

@media (max-width: 285px) {
  #newsletter-section {
    height: 30vh;
  }

  .newsletter-section-container {
    margin: 0 30px;
    max-width: 150px;
  }

  .newsletter-title {
    font-size: 0.9em;
  }

  .newsletter-tag {
    width: 100px;
    font-size: 0.4em;
  }

  .subscribe-btn {
    padding: 4px 12px;
    font-size: 0.3em;
  }
}
